<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Rubik:400,700,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="global-nav">
    <div class="animated fadeIn">
      <a class='app-name' href="/users">
        <img src="https://freeiconshop.com/wp-content/uploads/edd/gift-flat.png" alt="Back to home">ReGifter_{{pageTitle}}
      </a>
    </div>

  </div>

  <div class="page-content">
    {{{ body }}}
  </div>

</body>

</html>